<%= form_with(model: @comment, local: true) do |f| %>
    
<%= f.hidden_field :post_id, value: @post.id %>
<div class = 'field'>
<%= f.label :content, as: "Contenido" %>
<%= f.text_field :content %>
<div class = 'actions'>
<%= f.submit %>
</div>
<% end %>